body{
    background:whitesmoke;
font-family: 'helvetica';}

nav ul {list-style: none;
display: flex;
flex-wrap:wrap;
justify-content: space-between}

img{
    padding: 30px;
    justify-content:center; 
    display: flex;
    flex-direction:row;
    align-items: center;  
    
}

.page-wrapper{
    background:tan;
    width: 90%;
    margin: 0 auto   
}




/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 
  
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em) 

}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) 

